In [17]:
# to install pandas run pip install pandas on terminal or !pip install pandas on the code block
from pandas import read_csv

In [18]:
import pandas as pd
df = pd.read_csv("probability.csv")

In [19]:
df

      Probability
0      Definitely
1        Probably
2        Not Sure
3    Probably Not
4  Definitely Not
5      something1
6      something2
7      something3

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
#to check the datatype of every column in the dataframe
df.dtypes

Probability    object
dtype: object

In [24]:
# gives the first 4 rows
df.head(n=4)

    Probability
0    Definitely
1      Probably
2      Not Sure
3  Probably Not