In [2]:
# to install pandas run pip install pandas on terminal or !pip install pandas on the code block
from pandas import read_csv

In [3]:
import pandas as pd
df = pd.read_csv("probability.csv")

In [4]:
df

      Probability
0      Definitely
1        Probably
2        Not Sure
3    Probably Not
4  Definitely Not
5      something1
6      something2
7      something3

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
#to check the datatype of every column in the dataframe
df.dtypes

Probability    object
dtype: object

In [7]:
# gives the first 4 rows
df.head(n=4)

    Probability
0    Definitely
1      Probably
2      Not Sure
3  Probably Not

In [8]:
temp = pd.DataFrame({"A":["1","2","3"],"B":[11,12,13],"C":["12-06-12","13-08-23","01-11-18"]})

In [9]:
temp

   A   B         C
0  1  11  12-06-12
1  2  12  13-08-23
2  3  13  01-11-18

In [10]:
temp.dtypes

A    object
B     int64
C    object
dtype: object

In [11]:
temp["C"] = pd.to_datetime(temp["C"])
temp
temp.dtypes

C:\Users\shash\AppData\Local\Temp\ipykernel_7632\2589560292.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp["C"] = pd.to_datetime(temp["C"])

A            object
B             int64
C    datetime64[ns]
dtype: object

In [12]:
temp["A"] = pd.to_numeric(temp["C"])
temp
temp.dtypes

A             int64
B             int64
C    datetime64[ns]
dtype: object

In [13]:
df.describe

<bound method NDFrame.describe of       Probability
0      Definitely
1        Probably
2        Not Sure
3    Probably Not
4  Definitely Not
5      something1
6      something2
7      something3>

In [14]:
df.info

<bound method DataFrame.info of       Probability
0      Definitely
1        Probably
2        Not Sure
3    Probably Not
4  Definitely Not
5      something1
6      something2
7      something3>

In [15]:
temp.describe

<bound method NDFrame.describe of                      A   B          C
0  1354752000000000000  11 2012-12-06
1  1691884800000000000  12 2023-08-13
2  1515628800000000000  13 2018-01-11>

In [16]:
temp.info

<bound method DataFrame.info of                      A   B          C
0  1354752000000000000  11 2012-12-06
1  1691884800000000000  12 2023-08-13
2  1515628800000000000  13 2018-01-11>

In [17]:
temp["A"].value_counts()

A
1354752000000000000    1
1691884800000000000    1
1515628800000000000    1
Name: count, dtype: int64

In [18]:
temp["A"].value_counts().head(n=1)

A
1354752000000000000    1
Name: count, dtype: int64

In [19]:
#for slicing a dataframe first param is row second param is column
temp1 = temp.iloc[0:2,0:1]
temp1

                     A
0  1354752000000000000
1  1691884800000000000

In [20]:
temp1.shape

(2, 1)

In [21]:
temp.loc[:,["A","B"]]

                     A   B
0  1354752000000000000  11
1  1691884800000000000  12
2  1515628800000000000  13

In [22]:
temp[temp["A"]>3]

                     A   B          C
0  1354752000000000000  11 2012-12-06
1  1691884800000000000  12 2023-08-13
2  1515628800000000000  13 2018-01-11

In [24]:
temp[temp["B"].isin([11,12])]

                     A   B          C
0  1354752000000000000  11 2012-12-06
1  1691884800000000000  12 2023-08-13